{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": "off",
    "semi": [2, "never"],
    "comma-dangle": ["error", "always-multiline"],
    "no-mixed-operators": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  }
}