@import '~bootstrap/scss/bootstrap.scss';

@font-face{
    font-family: 'DIN Round Pro Thin';
    src: url('../fonts/DINRoundPro-Thin.woff') format('woff'),
         url('../fonts/DINRoundPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DIN Round Pro Thin' !important;
  background-color: #361163;
  color: white;
  height: 3240px;
  width: 7680px;
}

div.screen {
  outline: 1px solid white; /* DEBUGGING */
}

div.section_header {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: "DIN Round Pro Thin";
  font-size: 8rem;
}

div.section_header::after {
  height: 100%;
  margin: 0 12px;
  border-left: 3px solid white;
}

div.screen_1080 {
  width: 1920px;
  height: 1080px;
}

div#scr3x3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5760px;
  height: 3240px;
}

div#scr4_1 {
  position: absolute;
  top: 0;
  left: 5760px;
}

div#scr4_2 {
  position: absolute;
  top: 1080px;
  left: 5760px;
}
div#scr4_3 {
  position: absolute;
  top: 2160px;
  left: 5760px;
}
@import './travel/travel.scss';
@import './news/NewsBoard.scss';
@import './news/NewsItem.scss';
